.header_wrapper {
    width: 100%;
    height: 100%;
  }
  .header {
    width: 100%;
    // min-height: 100vh;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 30px;
    @media screen and (min-width: 1020px) {
      max-height: 90vh;
    }
  
    &::before {
      position: absolute;
      content: '';
      // z-index: -1;
      width: 100%;
      top: 0;
      left: 0;
      height: 90%;
      background: url('/assets/images/landing-page/Landing_page_Header.webp');
      background-size: cover;
      // background-color: #ffffff;
      background-repeat: no-repeat;
      background-repeat: repeat-x;
  
      @media screen and (max-width: 700px) {
        background-size: cover;
        background-position: -300px 0 0 0;
      }
    }
    &::after {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 10%;
      background-size: cover;
      background-color: #ffffff;
    }
  
    &_content__wrap {
      max-width: 715px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      // @apply top-[-10vh];
  
      .lead_header_txt {
        @apply font-dmSansBold;
        font-weight: 700;
        font-size: clamp(40px, 5.8vw, 72px);
        line-height: 110%;
        text-align: center;
        margin-top: 170px;
        max-width: 564px;
        position: relative;
        // @media screen and (max-width: 370px) {
        //   @apply mt-14;
        // }
      }
      .lead_sub_txt {
        @apply font-dmSansMedium;
        text-align: center;
        max-width: 564px;
        margin-top: 24px;
        margin-bottom: 129px;
        // margin: 5% auto;
        font-size: clamp(14px, 5.8vw, 16px);
      }
    }
  }