.card_container {
    @apply mx-auto pt-6  w-[163px] md:w-[220px] lg:w-[292px] ;
  }
  .card_image {
    position: relative;
    margin: 4px;
    cursor: pointer;
  }
  .pics {
    @apply rounded-[20px] h-[150px] md:w-[220px] lg:w-[292px] lg:h-[300px];
  }
