.xcursion_availableTrips {
    width: 100%;
    &_wrapper {
        // margin: 0 auto;
        @apply w-full max-w-[1309px] mx-auto;
    }
    &_header {
        display: flex;
        margin-top: 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        @apply mx-auto;
        @include breakpoint(mobile-lg) {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            margin: 0 auto;
            margin-top: 60px;
            display: flex;
            justify-content: flex-start;
        };
        .button {
            @include breakpoint(mobile-lg) {
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
               display: none;
            };
        }
        h3 {
            font-weight: 700;
            font-size: clamp(30px, 8vw, 36px);
            line-height: 48px;
        }
        p{
            line-height: 28px;
            font-weight: 400;
            font-size: clamp(14px, 8vw, 16px);
        }
        .slider {
            display: flex;
            background-color: #F2F4F7;
            border: #F2F4F7;
            justify-content: space-between;
            border-radius: 8px;
            align-items: center;
            margin-top: 15px;
            cursor: pointer;
            p{
                 font-size: 14px;
                 width: 158px;
                 font-weight: 500;
                 line-height: 25px;
                 text-align: center;
                 color: #868C98;
                 margin-right: 4px;
                 margin-left: 4px;
            }
            .active {
                background-color: $color-white;
                padding: 10px;
                margin: 3px;
                font-weight: 700;
                color: #0A0D14;
                font-size: 16px;
                border-radius: 6px;
            }
        }

    }
    &_card {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        @apply no-scrollbar overflow-x-auto scroll-smooth;
        @include breakpoint (mobile-lg) {
            display: none;
        }
    }
    &_mobile_card {
        display: none;
        @include breakpoint (mobile-lg) {
            display: grid;
            padding-left: 10px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding-right: 10px;
            // grid-template-columns: 1fr 1fr;
            @apply grid-cols-2
        }
        @include breakpoint (mobile-medium) {
            display: grid;
            padding-left: 10px;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding-right: 10px;
            // grid-template-columns: 1fr 1fr;
            @apply grid-cols-1
        }
    }
}