// Font
$fontInter: var(--font-inter);
$fontDmSans: var(--font-dmSans);

// Colors
$color-black: #000000;
$color-white: #ffffff;
$primary: #0A83FF;

// Grey Neutral Colors
$neutral-25: #f6f7f7;
$neutral-50: #edeeef;
$neutral-100: #c8cace;
$neutral-200: #adb0b6;
$neutral-300: #878c95;
$neutral-400: #707581;
$neutral-500: #4c5361;
$neutral-600: #454c58;
$neutral-700: #363b45;
$neutral-800: #2a2e35;
$neutral-900: #202329;

// Primary Colors
$primary-25: #c3ddf7;
$primary-50: #aed0f2;
$primary-100: #96bee6;
$primary-200: #85b9ed;
$primary-300: #74b9fd;
$primary-400: #2d90f3;
$primary-500: #0A83FF;
$primary-600: #0a84ffe0;
$primary-700: #0a84ffb7;
$primary-800: #0559aca7;
$primary-900: #00468be7;

// Secondary Colors
$secondary-25: #fffbf3;
$secondary-50: #fef6e8;
$secondary-100: #fce4b8;
$secondary-200: #fbd796;
$secondary-300: #f9c466;
$secondary-400: #f8b948;
$secondary-500: #f6a71a;
$secondary-600: #e09818;
$secondary-700: #af7712;
$secondary-800: #875c0e;
$secondary-900: #67460b;

// Error Colors
$error-25: #fef4f5;
$error-50: #fce9eb;
$error-100: #f6bac0;
$error-200: #f298a2;
$error-300: #ec6a77;
$error-400: #e84d5d;
$error-500: #e22034;
$error-600: #ce1d2f;
$error-700: #a01725;
$error-800: #7c121d;
$error-900: #5f0d16;

// Success Colors
$success-25: #f4fbf7;
$success-50: #e9f7ef;
$success-100: #bce6ce;
$success-200: #9cdab6;
$success-300: #6ec994;
$success-400: #52be80;
$success-500: #27ae60;
$success-600: #239e57;
$success-700: #1c7c44;
$success-800: #156035;
$success-900: #104928;

// Purple Colors
$purple-25: #f7f5ff;
$purple-50: #efecfe;
$purple-800: #362485;
