.content{
  // width: calc(100% - 250px);
  width: 100%;
  // position: relative;
  // left: 250px;
}

.card_container{
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.date_placeholder{
  font-size: 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .card_container{
    width: 100%;
    margin-bottom: 20px;
  }
}