.xcursions_visa {
    background-color: $color-white;
    width: 100%;
    &_wrapper {
        width: 100%;
        max-width: 1300px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0 auto;
        display: flex;
        gap: 30px;
        // flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-between;
    }
    &_lhs {
        width: 100%;
        display: flex;
        max-width: 530px;
        flex-direction: column;
        gap: 20px;
    }
}

.modal { /* Hidden by default */
    position: fixed; /* Positioning context */
    z-index: 9999; /* Ensure it appears on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Style for the modal content */
  .modal_content {
    background-color: white;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  margin: 30% auto;
  bottom: 0;
  }

  /* Style for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 560px) {
    /* Style for mobile devices */
    .modal_content {
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        margin: 0 auto; /* Center horizontally */
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transform: translateX(0%);
        position: fixed; 
        max-width: 700px;
    }
  }