@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Font Family */
@font-face {
  font-family: 'Dm-Sans-Bold';
  src: url('/assets/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dm-Sans-Bold-Italic';
  src: url('/assets/fonts/DM_Sans/DMSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Dm-Sans-Italic';
  src: url('/assets/fonts/DM_Sans/DMSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Dm-Sans-Medium';
  src: url('/assets/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Dm-Sans-Medium-Italic';
  src: url('/assets/fonts/DM_Sans/DMSans-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Dm-Sans-Regular';
  src: url('/assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@layer base {
  html {
    @apply font-dmSansMediumItalic text-lg text-[#313131];
  }
}

body {
  overflow-x: hidden;
  // background: black;
  // max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
img {
  pointer-events: none;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.selected-flag:focus,
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
