.background {
  z-index: 100;
  animation: zoomIn 0.5s ease-in-out;
  @apply fixed left-0 top-0 flex h-screen w-screen justify-end 
  bg-black/50 shadow-lg;
}
.background_center {
  z-index: 100;
  position: fixed;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  top: 50%;
  left: 50%;
  animation: zoomInCenter 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  border-radius: 10px;
  @apply shadow-lg;
}

.container_center {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  overflow-y: auto !important;
  width: 100%;
  max-width: 500px;
  max-height: 650px;
  border-radius: 10px;
  padding-bottom: 1rem;
  justify-content: center; /* Center content vertically */
}

.container {
  background-color: #FFFFFF;
  @apply flex h-screen w-full flex-col gap-5 overflow-y-auto
  md:max-w-4xl;
}

.title_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 24px;
  font-weight: 700;
  span {
      cursor: pointer;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 700;
  span {
      cursor: pointer;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomInCenter {
  from {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}

.open {

  animation: zoomIn 0.5s ease-in-out;
};

.content {
  @apply w-full overflow-y-auto px-3;
  height: calc(100% - 115px);
}

.buttons {
  @apply mb-5 flex w-full items-center justify-center gap-5;
}
