.container{
    // // width: calc(100% - 1050px);
    // width: 350px;
    // position: absolute;
    // z-index: 3;
    // left: 1032px;
    // // top: 350px;
    // display: flex;
    // margin-top: 20px;
    // justify-content: space-between;
    // align-items: center;
    // box-sizing: border-box;
    // padding: 20px;
    @apply hidden;
}
@media screen and (min-width: 1320px) {
    .container{
        width: auto;
        z-index: 3;
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        @apply block border;
    }  
    
}