@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave-lines {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -50% 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -50% 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shrink {
  0% {
    width: 4.5rem;
  }

  50% {
    width: 3.8rem;
  }

  100% {
    width: 4.5rem;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slideInFromBtm {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
