/*
    Responsive typography function variables
*/
$min_width_8: 1440px;
$max_width_8: 1600px;
$min_font_8: 8px;
$max_font_8: 8px;

$min_width_10: 1440px;
$max_width_10: 1600px;
$min_font_10: 10px;
$max_font_10: 10px;

$min_width_12: 1440px;
$max_width_12: 1600px;
$min_font_12: 12px;
$max_font_12: 12px;

$min_width_14: 1440px;
$max_width_14: 1600px;
$min_font_14: 14px;
$max_font_14: 14px;

$min_width_13: 1440px;
$max_width_13: 1600px;
$min_font_13: 13px;
$max_font_13: 13px;

$min_width_16: 1440px;
$max_width_16: 1600px;
$min_font_16: 16px;
$max_font_16: 16px;

$min_width_18: 1440px;
$max_width_18: 1800px;
$min_font_18: 18px;
$max_font_18: 18px;

$min_width_25: 1440px;
$max_width_25: 1600px;
$min_font_25: 25px;
$max_font_25: 25px;

$min_width_20: 1440px;
$max_width_20: 1600px;
$min_font_20: 20px;
$max_font_20: 20px;

$min_width_24: 1440px;
$max_width_24: 1600px;
$min_font_24: 24px;
$max_font_24: 24px;

$min_width_28: 1440px;
$max_width_28: 1600px;
$min_font_28: 28px;
$max_font_28: 28px;

$min_width_30: 1440px;
$max_width_30: 1600px;
$min_font_30: 30px;
$max_font_30: 30px;

$min_width_32: 1440px;
$max_width_32: 1600px;
$min_font_32: 32px;
$max_font_32: 32px;

$min_width_54: 1440px;
$max_width_54: 1600px;
$min_font_54: 54px;
$max_font_54: 54px;

$min_width_48: 1440px;
$max_width_48: 1600px;
$min_font_48: 48px;
$max_font_48: 48px;

$min_width_84: 1440px;
$max_width_84: 1600px;
$min_font_84: 84px;
$max_font_84: 84px;

$min_width_85: 1440px;
$max_width_85: 1600px;
$min_font_85: 85px;
$max_font_85: 85px;
